/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin-top: 75px;  
}

/* nav bar */
.nav-bar{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-bar img{
    max-width: 100%;
    height: 48px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 150px;
}

.nav-links a{
  
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    font-size: 22px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

/* header */
header h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 95%;
    font-size: 50px;
    letter-spacing: 3px;
}

main{
    height: 70vh;
}

main h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

main p{
    text-align: center;
    margin-bottom: 10px;

}

#salon-info{
    text-align: center;
}

/* registration inputs */
.reg-inputs{
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.reg-inputs button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

.reg-inputs button:hover{
    text-decoration: underline;
}

/* footer */
footer{
    background-color: black;
    color: white;
    height: 100px;
}

.pets-container{
    display: grid;
    justify-content: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin-bottom: 2rem;
}

.pet-list{
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(124, 172, 236);
    padding: 1rem;
    ;
}

.pet-list h4{
    color: white;
    text-decoration: underline;
}